[submodule "lib/JUCE"]
	path = lib/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "lib/supercollider"]
	path = lib/supercollider
	url = https://github.com/supercollider/supercollider.git
